[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
pymongo = "*"
flask = "*"
pytest-flask = "*"
pybase62 = "*"
pylint = "*"
black = "*"
mongomock = "*"
coverage = "*"
python-dotenv = "*"
requests = "*"
flask-login = "*"
argon2-cffi = "*"
npx = "*"
flask_cors = "*"

[dev-packages]

[requires]
python_version = "3.12"
