<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Dashboard</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="dashboard-container">
      <h1>Welcome to Your Dashboard, {{username}}</h1>
      <nav>
        <ul>
          <a href="/create_plan">Create New Plan</a>
          <a href="/change_password">Change Password</a>
          <a href="/logout">Logout</a>
        </ul>

        <h2>Plan</h2>
        <ul>
          {% for plan in plans %}
          <a href="/plan/{{ plan.id }}"> {{ plan.name }} </a>
          {% endfor %}
        </ul>

        <h2>Draft</h2>
        <ul>
          {% for draft in drafts %}
          <a href="/plan/{{ draft.id }}"> {{ draft.name }} </a>
          {% endfor %}
        </ul>
      </nav>
      <img src="../static/images/dashboard.svg" alt="dashboard-icon" id="hp">
    </div>
  </body>
</html>
