<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Set Up</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <form action="/set_lock/{{ id }}" method="post">
      <input type="text" id="duration" name="duration" placeholder="duration" />
      <label for="duration">Duration (in days)</label>

      <input type="submit" value="Set Lock">
    </form>
    <img src="../static/images/clock.svg" alt="clock-icon" id="hp">
  </body>
</html>